<div class="heaeder">
  <div class="navbar">
    <b>[PM]</b>
    <button (click)="animateBurger(); openHamburger()" class="hamburger hamburger--slider " type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div *ngIf="visible" class="open-hamburger">
    <div class="menu-section">

      <a href="#about-me" (click)="openHamburger(); animateBurger()">
        <span>About me</span>
      </a>
      <a href="#my-skills" (click)="openHamburger(); animateBurger()">
        <span>My skills</span>
      </a>
      <a href="#projects" (click)="openHamburger(); animateBurger()">
        <span>Portfolio</span>
      </a>
    </div>
    <div class="footer">
      <div class="left-section">
        <a href="#contact-section" (click)="openHamburger(); animateBurger()">
          <span>Say Hi!</span>
        </a>
        <p>p.marienfeld@outlook.de</p>
      </div>

      <div class="right-section">
        <img src="/assets/img/about-me/footer/github.png" alt="">
        <img src="/assets/img/about-me/footer/mail.png" alt="">
        <img src="/assets/img/about-me/footer/linkedin.png" alt="">
      </div>


    </div>

  </div>



</div>