<div class="heaeder">
  <div class="navbar">
    <b>[PM]</b>
    <button (click)="animateBurger(); openHamburger()" class="hamburger hamburger--slider " type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div *ngIf="visible" class="open-hamburger">
    <div class="menu-section">

      <a href="#about-me" (click)="openHamburger(); animateBurger()">
        <span>About me</span>
      </a>
      <a href="#my-skills" (click)="openHamburger(); animateBurger()">
        <span>My skills</span>
      </a>
      <a href="#projects" (click)="openHamburger(); animateBurger()">
        <span>Portfolio</span>
      </a>
    </div>
    <!-- <div class="footer">
      <span>Say Hi!</span>
    </div> -->

  </div>



</div>