<div class="about-me-section">
    <div class="about-me">
        <div class="about-me-text" data-aos="fade-right" data-aos-duration="3000">
            <h1>About me</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem perferendis, consectetur, repudiandae
                non
                laudantium eaque libero numquam nemo id provident dolor earum est quia voluptatem esse consequatur illum
                excepturi distinctio?</span>
        </div>
        <div class="lets-talk">
            <button class="slide">Let's talk</button>
        </div>
    </div>
    <div class="picture">
        <img src="/assets/img/about-me/123.jpg">
    </div>
</div>