<div class="about-me-section" id="about-me">
    <div class="about-me" data-aos="fade-up" data-aos-duration="500">
        <div class="about-me-text">
            <h1>About me</h1>
            <span>Coming from a background in engineering and now a passionate web developer, I specialize in crafting
                dynamic web applications using Angular, React, JavaScript, and Node.js. I'm always on the
                lookout for new challenges.</span>
        </div>
        <a href="#contact-section">
            <div class="lets-talk">
                <button class="btn">Let's talk</button>
            </div>
        </a>
    </div>
    <div class="picture" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
        <img src="/assets/img/about-me/portfolio.jpg">
    </div>
</div>

<a href="#my-skills">
    <div class="arrows-body">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
    </div>
</a>