.about-me-section {
    display: flex;
    margin-top: 400px;
    padding: 0px 100px;
    justify-content: space-evenly;

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }


   

    .about-me-text {
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        padding: 0px 100px;
    }

    .picture {
        padding-top: 150px;
    }



    h1 {
        font-size: 78px;
        cursor: pointer;

        &:hover {
            color: #00BC8F;
        }
    }

    img {
        height: auto;
        width: 750px;
        object-fit: cover;
    }

    span {
        font-family: 'Overpass-Thin', sans-serif;
        font-size: 23px;
        text-align: center;
        flex-direction: column;
        display: flex;
        inline-size: 610px;

    }
}

.arrows-body {
    margin-top: 20px !important;
}