.about-me-section {
    display: flex;
    margin-top: 400px;
    justify-content: space-between;
    padding: 0px 100px;

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;

        @media (max-width: 1150px) {}

    }




    .about-me-text {
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;

    }

    .picture {
        padding-top: 150px;
    }



    h1 {
        font-size: 78px;
        cursor: pointer;

        @media (max-width: 1150px) {
            font-size: 50px;
            text-align: center;
        }


        &:hover {
            color: #00BC8F;
        }
    }

    img {
        height: auto;
        width: 750px;
        object-fit: cover;

        @media (max-width: 1150px) {
            width: 375px;
            height: auto;
        }
    }

    span {
        font-family: 'Overpass-Thin', sans-serif;
        font-size: 23px;
        text-align: center;
        flex-direction: column;
        display: flex;
        inline-size: 610px;

    }
}

.arrows-body {
    margin-top: 20px !important;
}