<div class="bottom-section">
    <h2>Say Hi!</h2>
    <form data-aos="fade-up" class="contact-section" (submit)="sendMail()" #myForm="ngForm" ngNativeValidate>
        <div class="writing">
            <h3>
                Want to discuss a new project?
            </h3>
            <span>
                Say hello! let's discuss your ideas and make it happen
            </span>
        </div>

        <div class="input-section" id="contact-section">

            <div class="input-field">
                <input type="text" #nameField name="name" required>
                <label for="name"><span class="label-style">Your Name</span></label>
                <div class="icon-container">
                    <i [class.loader]="isActive"></i>
                </div>
            </div>

            <div class="input-field">
                <input type="email" required name="mail" #emailField />
                <label for="name"><span class="label-style">Your email</span></label>
                <div class="icon-container">
                    <i [class.loader]="isActive" class="loader"></i>
                </div>
            </div>
        </div>

        <div class="textarea-field">
            <textarea name="" name="message" #messageField cols="30" rows="10" required></textarea>
            <label for="name"><span class="label-style">Your Message</span></label>
            <div class="icon-container">
                <i [class.loader]="isActive" class="loader"></i>
            </div>
        </div>

        <div class="contact-btn">
            <button type="submit" #sendButton [disabled]="isActive">Send message</button>

        </div>

        <div class="message-box" *ngIf="messageSent">
            <p>{{messageSent}}</p>
        </div>
    </form>

</div>