<div class="bottom-section">
    <h2>Say Hi!</h2>
    <form data-aos="fade-up" class="contact-section">
        <div class="writing">
            <h3>
                Want to discuss a new project?
            </h3>
            <span>
                Say hello! let's discuss your ideas and make it happen
            </span>
        </div>
        <div class="input-field">
            <input type="text" name="name" placeholder="Your name" required>
            <input type="text" #emailField placeholder="Your email" required />
        </div>
        
            <div class="textarea-field">
                <textarea name="" name="Your message" #messageField cols="30" rows="10" placeholder="Your Message"
                    required></textarea>
            </div>

            <div class="contact-btn" >
                <button type="submit" #sendButton>Send message</button>
                
            </div>
      

    </form>

</div>