.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
}

fieldset {
    border: 4px solid black;
    color: black;
    text-align: center;
    width: 1200px;
    height: 550px;
}

legend {
    padding: 0 10px;
    font-size: 78px;

}



.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
}

.items {
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
        width: 75px;
        height: 75px;
    }

    span {
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        color: black;
        font-size: 16px;
    }
}

.icon-img {
    max-width: 100%;
    height: auto;
}

.icon-name {
    margin-top: 5px;
}