

<div class=skills-section>

    <fieldset>
        <legend data-aos="fade-up" data-aos-duration="1000">My skills</legend>
        <div class="skills">
            <div *ngFor="let item of icons" class="items" data-aos="fade-right" data-aos-duration="1000"
                data-aos-delay="300">
                <img class="icon-img" src={{item.icon}}>
                <span class="icon-name">{{item.name}}</span>
            </div>
        </div>
    </fieldset>
</div>



<div class="arrows-body">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>