<div class="headline">
    <p>Frontend</p>
    <p>Developer</p>
</div>

<div class="name">
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="4" viewBox="0 0 632 4" fill="none">
        <path d="M630 2H2" stroke="black" stroke-width="3" stroke-linecap="square" />
    </svg>
    <span>Pascal Marienfeld</span>
</div>

<div class="mobile">
    <a href="#contact-section">
        <button class="btn-mobile">Send a message</button>
    </a>
</div>


<div class="bottom-section">

    <div class="contact">
        <span>p.marienfeld@outlook.de</span>
    </div>

    <div class="scroll-down">

        <div class="arrow-animation">
        </div>

        <div class="scroll-description">
            <span>Scroll</span>
            <span>Down</span>
        </div>
    </div>

</div>