@font-face {
    font-family: 'Overpass';
    src: url('/assets/fonts/Overpass-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass-Black';
    src: url('/assets/fonts/Overpass-Thin.ttf');
    font-weight: bold;
    font-style: normal;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;

    p {
        font-size: 128px;
        margin: 0;
        padding: 0;

        @media (max-width: 480px) {
            font-size: 45px;
            letter-spacing: -1.125px;
        }

        @media (max-width: 320px) {
            font-size: 40px;
            letter-spacing: -1.5px;
        }
    }
}

.name {
    font-size: 48px;
    stroke-width: 3px;
    stroke: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 480px) {
        svg {
            width: 120px;
        }

        span {
            font-size: 23px;
            padding-left: 4px;
        }
    }

    span {
        color: #00BC8F;
        font-family: 'Overpass', sans-serif;
    }
}

.bottom-section {
    display: flex;

    justify-content: space-between;
    font-size: 23px;
    font-family: 'Overpass-Thin', sans-serif;
    padding: 0px 100px;
    margin-top: 50px;

    @media (max-width: 480px) {
        margin-top: 0px;
        padding: 0px 25px;
    }


}


.contact {
    display: flex;
    transform-origin: top left;
    transform: rotate(-90deg);
    margin-top: 288px;
}

.scroll-down {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 480px) {
        position: absolute;
        right: 20px;
    }
}

.scroll-description {
    display: flex;
    flex-direction: column;
}

.arrow-animation {
    background: url('/assets/img/arrow/arrow.png') no-repeat;
    height: 180px;
    width: 90px;

    animation: play 1.4s steps(7) infinite;

    @keyframes play {
        100% {
            background-position: -826px;
        }
    }
}


.mobile {
    a {
        text-decoration: none;
    }

    @media (max-width: 480px) {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .btn-mobile {
        border: 4px solid var(--black, #000);
        background: #FFFCF3;
        background-color: transparent;
        width: 213px;
        height: 68px;
        font-family: 'Overpass-Thin', sans-serif;
        font-size: 23px;
        display: none;
        cursor: pointer;

        @media (max-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}