@font-face {
    font-family: 'Overpass';
    src: url('/assets/fonts/Overpass-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass-Black';
    src: url('/assets/fonts/Overpass-Thin.ttf');
    font-weight: bold;
    font-style: normal;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;

    p {
        font-size: 128px;
        margin: 0;
        padding: 0;
    }
}

.name {

    font-size: 48px;
    stroke-width: 3px;
    stroke: #000;
    display: flex;
    align-items: center;
    justify-content: center;


    span {
        color: #00BC8F;
        font-family: 'Overpass', sans-serif;
    }
}

.bottom-section {
    display: flex;

    justify-content: space-between;
    font-size: 23px;
    font-family: 'Overpass-Thin', sans-serif;
    padding: 0px 100px;
    margin-top: 50px;


    .contact {
        display: flex;
        transform-origin: top left;
        transform: rotate(-90deg);
        margin-top: 288px;
    }

    .scroll-down {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        gap: 50px;
    }

    .scroll-description {
        display: flex;
        flex-direction: column;
    }





    .arrow-animation {
        background: url('/assets/img/arrow/arrow.png')  no-repeat ;
        // background-repeat: no-repeat;
        // background-size: contain;        
        height: 180px;
        width: 90px;

        animation: play 1.4s steps(7) infinite;

        @keyframes play {
            100% {
                background-position: -826px;
            }
        }

    }


}

/*
 *  Media Query
 */
 @media (max-width: 480px) {
    .headline p {
        font-size: 45px;
        letter-spacing: -1.125px;
    }
    .name {
        svg {
            width: 120px;
        }
        span {
        font-size: 23px;
        padding-left: 4px;
    }
}
    .bottom-section {
        padding: 0px 25px;

        .scroll-down {
            position: absolute;
            right: 20px;
        }
    }
}

@media (max-width: 320px) {
    .headline p {
        font-size: 40px;
        letter-spacing: -1.5px;
    }
}